<p>teamdetails works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Team Details</h1>

  
             
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Team Id</th>
        <th>Team Name</th>
        <th>Points</th>
        <th>Ranking</th>
      </tr>
    </thead>
    <!--<tbody *ngFor='let teamdetail of teamdetails' >

      <tr> <td>{{teamdetail.teamId}}</td>
            <td>{{teamdetail.teamName>}}</td>
            <td>{{teamdetail.points}}</td>
            <td>{{teamdetail.ranking}}</td> </tr>  -->
<tbody>
           <tr> <td>1</td>
                <td>karthik</td>
                <td>180</td>
                <td>4</td> </tr> 

                <tr> <td>2</td>
                    <td>Rahul</td>
                    <td>160</td>
                    <td>5</td> </tr>  

                    <tr> <td>3</td>
                      <td>Rakesh</td>
                      <td>190</td>
                      <td>3</td> </tr>  
  



    </tbody>
  </table>
</div>

</body>
</html> 
